.row {
       background-color: #333;
       height: 100vh;
}

.aboutMe {
    color: #ffdb58;
    overflow: hidden;
    padding: 50px;
}

.meSection {
    background-color: #333;
}

.icon{
    font-size: 60px;
    padding: 50px;
    float: left;
    margin-left: 147px;
/* margin-left: 187 for larger screens */
width: 195px;
}

.reactIc {
color:#61DBFB;
}

.nodeIc {
    color: #68A063;
}

.jsIc {
    color: #f0db4f;
}

.htmlIc {
    color: #f06529;
}

.cssIc {
    color: #2965f1;
}