form {
    display: block;
    padding: 90px;
    background: #333;
    height: 100vh;
}

.form-text {
    color: #ffdb58;
}

.btn {
    background: #ffdb58;
}

.header {
    text-align: center;
}

.userInput {
    margin-left: 38%;
    width: 25%;
    border-radius: 8px;
}

.formText{
    text-align: center;
    color: #ffdb58;
}

.btn-primary {
    margin-left: 48%;
    background-color: #ffdb58;
}

.button {
    margin-left: 48%;
    background: #ffdb58;
    border-radius: 8px;
    border: none;
    color: #333;
}