.project-card {
    display: flex;
    flex: 1 1 auto;
   margin: 5%;
   background: lightgrey;
}

.projectImg {
    width: 360px;
    height: 280px;
    float: left;
}

.card-title {
    float: left;
    margin: 5px;
}

.projectCardDes {
    color: black;
    float: right;
    margin-right: 190px;
    margin-top: 50px;
}