.project-card {
    display: inline-table;
    flex: 1 1 auto;
   margin: 5%;
   background: lightgrey;
}

.projectImg {
    width: 300px;
    height: 202px;
    float: left;
}

.card-title {
    float: left;
}

p {
    color: black;
}